### to create a comment just type # and then the comment

In [1]:
#2^3
2**3

8

In [2]:
#Operators Rules:
#() > ** > * > + > left to right

### string conversions

In [3]:
s='123'
type(s)

str

In [4]:
x=int(s)
type(x)

int

In [5]:
t=float(s)
type(t)

float

In [6]:
#Note:
#you will get an error if the string contains characters

### User Input

In [7]:
#to read data with python we use input()
s=input("Say something: ")

Say something:

In [8]:
print(s,'Done')

 Done

### Conditional if statements syntax

In [10]:
x=int(input("Put a number: "))
if x<10:
    print("<10")
elif x<20:
    print("<20")
else:
    print ("I don't know")

Put a number: 15
<20

### try/except syntax

In [11]:
try:
    result=x/0
except:
    print("Woahh!!! divise by zero !!")
    
print("Exception is great to avoid some problems")

Woahh!!! divise by zero !!
Exception is great to avoid some problems

### Notes

In [12]:
#Don't mix tabs and spaces chose to use tabs or spaces or you will get an error
#After the try except block our script still work (3omrou maye9ef hata ken fama exception ikamal li baad el except)
#quit() close the Program

### Functions syntax

In [13]:
def my_first_function(a,b):
    return a+b

In [14]:
my_first_function(3,5)

8

### Loops and Iteration Syntax

In [15]:
c=my_first_function(2,3)
i=0
while i<c:
    print(i)
    i+=1
#the i++ in python generate an error

0
1
2
3
4

In [16]:
#the break statement ends the current loop and jumps to the statement following the loop
i=0
while i<c:
    if i==2:
        break
    print(i)
    i+=1

0
1

In [17]:
for i in range (5):
    print (i)

0
1
2
3
4

In [18]:
#the boolean type: bool in python
x=True
print(x)
type(x)

True

bool

In [19]:
#it starts with an upper case
x=False
print(x)
type(x)

False

bool

In [20]:
#we don't have null we have None
# the "is" (is not) operator is simular to "==" (!=) but stronger it matches both type and value

### Strings

In [21]:
s="Mahdi-Bouaziz"
len(s)

13

In [22]:
#Slicing
# [a:b] => [a,b[
# [:b]  => [0,b[
# [a:]  => [a:end]
# [a:b:PAS]

print(s[3:])
print(s[:5])
print(s[4:8])

di-Bouaziz
Mahdi
i-Bo

In [23]:
#the + operaton cocat STrings and Lists
s1="Mohamed"
s1+"-"+s

'Mohamed-Mahdi-Bouaziz'

#### Notes

* All strings functions do not modify the original string and __return__ a new string
* to show what methods in the str class just type "dir(str)"
* the __ blablabla __ functions are special we will discuss them later

In [24]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [25]:
#useful methods in the string library
s1="mahdi"
print(s1.capitalize())
s1='banana'
print(s1.find('na'))
print(s1.find('z'))

Mahdi
2
-1

In [26]:
print(s)
print(s.upper())
print(s.lower())

Mahdi-Bouaziz
MAHDI-BOUAZIZ
mahdi-bouaziz

In [27]:
print(s)
print(s.replace("i","le"))

Mahdi-Bouaziz
Mahdle-Bouazlez

In [28]:
#remove white spaces (espace or \n)
#s.strip()   remove white spaces at the left and the right
#s.lstrip()  remove white spaces at the left
#s.rstrip()  remove white spaces at the right

In [29]:
print(s.startswith('M'))
print(s.startswith('m'))

True
False

###  Files

In [30]:
#To use a file we need to open it
f=open("Useful java projects",'r')
#r is the mode we can put w 
#the default mode is r

In [31]:
for line in f:
    print (line)

1) https://www.javatpoint.com/library-management-system-in-java-swing

2) https://www.javatpoint.com/broadcasting-chat-server-project

3) https://www.javatpoint.com/online-exam-project-in-java-swing-without-database

4) https://www.javatpoint.com/java-application-world-project

5) https://www.javatpoint.com/fee-report-project-in-java

In [32]:
#you can read the whole file
f=open("Useful java projects",'r')
s=f.read()

In [33]:
print(s)

1) https://www.javatpoint.com/library-management-system-in-java-swing
2) https://www.javatpoint.com/broadcasting-chat-server-project
3) https://www.javatpoint.com/online-exam-project-in-java-swing-without-database
4) https://www.javatpoint.com/java-application-world-project
5) https://www.javatpoint.com/fee-report-project-in-java

### Lists [ ]

* List are surrounded by square brackets [ ] and elements are separated by , 
* A list element can be any object even another list
* A list can be empty => [ ]
* LIst are mutable (changeable)

In [34]:
x=[1,'a',3,[3,'abcd'],'3t']
print(x)

[1, 'a', 3, [3, 'abcd'], '3t']

In [35]:
x[1]

'a'

In [36]:
x[0]

1

In [37]:
len(x)

5

In [38]:
#Manipulating Lists
a=[1,2,3]
b=[6,2,8]
c=a+b
c

[1, 2, 3, 6, 2, 8]

In [39]:
#List can be sliced 
c[1:5]

[2, 3, 6, 2]

In [40]:
#add a terme in the last of the list
a.append('e')
a

[1, 2, 3, 'e']

In [41]:
2 in a

True

In [42]:
6 in a

False

In [43]:
c.sort()
c

[1, 2, 2, 3, 6, 8]

In [44]:
max(c)

8

In [45]:
min(c)

1

In [46]:
sum(c)

22

### String to List

In [47]:
s="with three words"

In [48]:
x=s.split()
x

['with', 'three', 'words']

In [49]:
#the default delimiter in espace but we can change it:
x=s.split('t')
x

['wi', 'h ', 'hree words']

### Dictionaries  { }

* Dictionaries are python's most powerful data collection
* allow us to do fast database operations
* Dict are mutable

In [50]:
d={'Course':18,'Age':21,'Name':'mahdi'}

In [51]:
d['Course']

18

* Dict are like lists except that they use keys instead of numbers to look up values
* Note: it's an error to referance a key which is not in the dictionary

In [52]:
#the in operator check if the key exist or not
'Course' in d

True

In [53]:
'mahdi' in d

False

In [54]:
#to put new key and value :
d['newKey']=200

In [55]:
d

{'Course': 18, 'Age': 21, 'Name': 'mahdi', 'newKey': 200}

* we have a powerful method id dic the "get(key , default_value)"

In [56]:
#check to see if a key is already in a dictionary, and assuming a default value if the key is not there
#if the key exist it return the value of the key else it returns the default value
d.get("Course",20)

18

In [57]:
d.get("test",30)

30

In [58]:
d

{'Course': 18, 'Age': 21, 'Name': 'mahdi', 'newKey': 200}

* Exemple to see how amazing this method

In [59]:
names=['csev','cwen','csev','bla']
counts={}

In [60]:
for name in names:
    if name not in counts:
        counts[name]=1
    else:
        counts[name]+=1
counts

{'csev': 2, 'cwen': 1, 'bla': 1}

In [61]:
# in one line with get
counts1={}
for name in names:
    counts1[name]=counts1.get(name,0)+1
counts1

{'csev': 2, 'cwen': 1, 'bla': 1}

* a for loop goes to the __keys__ in the dict

In [62]:
for key in counts:
    print (key)

csev
cwen
bla

In [63]:
for key in counts.values():
    print(key)

2
1
1

In [64]:
for key,value in counts.items():
    print(key,value)

csev 2
cwen 1
bla 1

### Tupels  ( )

* Tupels are like Lists but they're immmutable

In [65]:
t=(12,'azz',5,6)

In [66]:
t

(12, 'azz', 5, 6)